/source/__pycache__/
*.py[cod]
/.idea/
build/
/examples/hello_world/library/include/
/examples/ref_counted/library/include/
/examples/copy_semantic/library/include/
/examples/move_semantic/library/include/
AutoGen*

