/source/__pycache__/
/source/.idea/
*.py[cod]
/.idea/
build/
/examples/hello_world/library/include/
/examples/reference_counted/library/include/
/examples/copy_semantic/library/include/
/examples/raw_pointer_semantic/library/include/
/examples/virtual_interface/library/include/
/examples/single_file/library/include/
/examples/object_parameter/library/include/
/examples/circular_reference/library/include/
/examples/custom_suffix/library/include/
/examples/boost_shared_ptr/library/include/
/examples/down_cast/library/include/
/examples/point_set/library/include/
/examples/exception/library/include/
/examples/callback/library/include/
/tests/file_options/library/include/
AutoGen*
auto_gen*