# AppVeyor file
# http://www.appveyor.com/docs/appveyor-yml

# clone directory
clone_folder: c:\projects\beautiful-capi

platform:
    - x86
    - x64

configuration:
  - 14 2015
  - 12 2013

install:
# Make compiler command line tools available
- call c:\projects\beautiful-capi\scripts\appveyor\compiler_setup.bat

build_script:
- set PATH=C:\Python34-x64;%PATH%
- set BOOST_ROOT=C:\Libraries\boost_1_63_0
- cd c:\projects\beautiful-capi
- if "%platform%" equ "x64" (cmake CMakeLists.txt -G "Visual Studio %Configuration% Win64")
- if "%platform%" equ "x86" (cmake CMakeLists.txt -G "Visual Studio %Configuration%")
- if "%platform%" equ "x64" (msbuild /m /p:Configuration=Release /p:Platform="x64" beautiful_capi.sln)
- if "%platform%" equ "x86" (msbuild /m /p:Configuration=Release /p:Platform="Win32" beautiful_capi.sln)
